<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412919918176-3o6be378mq7ccbdjtqj3hb3t3erijd06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412919918176-3o6be378mq7ccbdjtqj3hb3t3erijd06</string>
	<key>API_KEY</key>
	<string>AIzaSyBAudU6MID2cM_aAS7wMX7lTmBsQUGRkNs</string>
	<key>GCM_SENDER_ID</key>
	<string>412919918176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lastMinute</string>
	<key>PROJECT_ID</key>
	<string>last-minute-57857</string>
	<key>STORAGE_BUCKET</key>
	<string>last-minute-57857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412919918176:ios:d37301b61f192ddea81d05</string>
</dict>
</plist>